services:
  database:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: database
      POSTGRES_USER: postgres
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  rest-api:
    build:
      context: ./rest-api
    ports:
      - 8080:8080
    depends_on:
      database:
        condition: service_healthy